body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 50px;
    background-color: #121212;
    color: #B3B3B3;
}

h1, h2 {
    font-weight: 600;
    color: #fff;
}

h2 a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

h2 a:hover {
    color: #B3B3B3;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #151515;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.post-preview {
    border-bottom: 1px solid #B3B3B3;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.post-preview:last-child {
    border-bottom: none;
}

.post-preview p {
    font-size: 16px;
    color: #B3B3B3;
}

.post-meta {
    font-size: 14px;
    color: #888;
    margin-top: 10px;
}

.post-actions {
    margin-top: 15px;
}

.btn {
    display: inline-block;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    transition: color 0.3s ease;
}

.btn:hover {
    color: #a76b4d;
}

.edit {
    color: #e6e332;
}

.edit:hover {
    color: #e0dd0f;
}

.delete {
    color: #e63232;
}

.delete:hover {
    color: #d62828;
}

/* Форма создания/редактирования поста */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    color: #b3b3b3;
}

input, textarea {
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
    transition: border-color 0.3s ease;
}

input:focus, textarea:focus {
    border-color: #a76b4d;
    outline: none;
}

textarea {
    resize: vertical;
    height: 200px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    background-color: #2a2a2a;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #a76b4d;
    color: #fff;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.pagination a {
    font-size: 16px;
    padding: 10px 20px;
    margin: 0 5px;
    color: #fff;
    background-color: #2a2a2a;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination a:hover {
    background-color: #363636;
    color: #fff;
}

.pagination .active {
    background-color: #363636;
    color: #fff;
    pointer-events: none;
}

/* Адаптивность */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding-left: 20px;
        padding-right: 20px;
    }

    h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 20px;
    }
}
